@inherits MvuComponent<MvuPasswordForm.Model, MvuPasswordForm.Msg>

<div class="grid">
  <input
    type="text"
    placeholder="Name"
    value="@State.Name"
    @oninput="@HandleNameChange"
  />
  <input 
    type="password"
    placeholder="Password"
    value="@State.Password"
    @oninput="@HandlePasswordChange"
    aria-invalid="@State.PasswordInvalid"
  />
  <input
    type="password"
    placeholder="Re-enter Password"
    value="@State.PasswordAgain"
    @oninput="@HandlePasswordAgainChange"
    aria-invalid="@State.PasswordInvalid"
  />
</div>
